/*Por elemento
p {
    color: green;
}*/
/*Class
.p {
    color: red;
}*/
/*ID
#texto {
    color: blue;
}*/
/*Se puede usar calc para márgenes
.caja_hijo {
    width: calc(50% - 20px);
}*/
/*Para que las cajas queden en pantalla
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
}*/
/*Truco para uso de rem
Esto permite usar los rem como pixeles.
cada rem son 10px
html {
    font-size: 62.5%;
}
p {
    font-size: 1.6rem
}*/
/*Variables
:root {
    --nombreVariable: atributo;
}
se llama con var(--nombreVariable);*/

img {
    height: 300px;
}
.kitty {
    width: 1000px;
}
#hello {
    font-size: 25pt;
    color: seagreen;
    text-decoration: underline;
}
.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}
.main-nav__item {
    display: inline-block;
}
.main-nav__item a {
    color: white;
    padding: 5px;
    text-decoration: none;
}
/*Pseudo clases*/
.main-nav__item a:hover {
    color: blue;
}
.main-nav__item a:active {
    color: red;
}
/*Pseudo elementos*/
.main-nav__item a::after {
    content: " | ";
}